@use "../styles/colors" as colors;
.dropdown-list {
  position: absolute;
  width: 7.125rem;
  top: 2rem;
  left: -1rem;
  box-shadow: 0px 0px 8px colors.$primary-background-color;
  z-index: 1000;

  span {
    padding: 1rem;
    display: block;

    &:hover {
      background-color: colors.$primary-background-color;
    }
  }
}
