@use "../styles/colors" as colors;
.navBar {
  justify-self: start;
  height: 100%;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 100%;
    margin: 0;

    li {
      height: 100%;
      text-transform: uppercase;
      line-height: 120%;

      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;

        &.link-active {
          color: colors.$primary-color;
          border-bottom: 2px solid colors.$primary-color;
          font-weight: 600;
        }
      }
    }
  }
}
