@use "../styles/font" as fontStyles;
@use "../styles/colors" as colors;

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 16px;
	background: colors.$background-color-white;
	font-size: fontStyles.$primary-font-size;
	width: 25rem;
	position: relative;

	img {
		object-fit: fill;
		object-position: top;
		width: 100%;
	}

	p {
		margin: 0;
		width: 100%;
		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.cart-icon {
		position: absolute;
		left: 67.49%;
		right: 10.61%;
		top: 70.91%;
		bottom: 4.15%;
		visibility: hidden;
	}

	&:where(:active, :hover) {
		box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);

		.cart-icon {
			visibility: visible;
		}
	}

	.title {
		font-weight: fontStyles.$product-title-font-weight;
		font-size: fontStyles.$primary-font-size;
		line-height: fontStyles.$primary-line-height;
		margin-top: 2rem;
	}

	.price {
		font-weight: fontStyles.$product-price-font-weight;
		line-height: fontStyles.$primary-line-height;
	}
}
